header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: -webkit-sticky;
	position: sticky;
	top: 0px;
    background-color: $tertiary-color;
    #page-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        color: $primary-color-light;
        img {
            padding: 0 8px 0 8px;
        }
        h1 {
            margin: 0;
        }
    }
}

