#api-presentation-section, #authentification-section, #authorizations-section {
    text-align: justify;
}

#endpoint-users, #endpoint-posts, #endpoint-comments {
    display: flex;
}

.route-title {
    display: flex;
    flex-direction: row;
    .route-verb {
        font-weight: bold;
        padding: 5px;
        &--post {
            color: #FFC530;
            background-color: #FFF3D5;
        }
        &--get {
            color: #35BD4A;
            background-color: #EBF8EC;
        }
        &--update {
            color: #5DC6FC;
            background-color: #DEF3FE;
        }
        &--delete {
            color: #EC6E6B;
            background-color: #FDF3F3;
        }
    }
    .route-function {
        padding: 5px;
    }
}

.block-responses {
    margin: 10px 0 30px 0;
    .response {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0 5px 0;
        p {
            font-size: 15px;
            margin: 8px 0 8px 10px;
        }
        &--ok {
            color: #35BD4A;
            background-color: #EBF8EC;
        }
        &--error {
            color: #EC6E6B;
            background-color: #FDF3F3;
        }
        &--end {
            margin-bottom: 50px;
        }
    }
}