// UTILS - Variables

// Colors
$primary-color: #091F43;
$primary-color-light: #2E405E;
$primary-color-lighter: #6D89B7;
$secondary-color: #FD2D01;
$secondary-color-light: #D1515A;
$secondary-color-lighter: #FFD5D5;
$tertiary-color: #F2F2F2;

/* RESPONSIVE */
$breakpoints: (tablet: 768px, desktop: 1140px);