// MIXINS
@mixin weblink-rules ($colour) {
	text-decoration-line: none;
	color: $colour;
}

@mixin tablet-only {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}

@mixin post-pic-design {
    margin-right: 1.5px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

@mixin post-design {
	max-width: 100%;
    padding: 2.5%;
    border-radius: 6.5px;
    background: $neutral;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
}

@mixin options-btn-design {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
}

@mixin options-splitter-design {
    width: 80%;
    height: 2px;
    background-color: $tertiary-color;
}

@mixin submit-button {
    color: $neutral;
    background: $linear-gradient;
    font-weight: bold;
	border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

@mixin submit-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

@mixin profile-button {
    position: absolute;
    top: 8px;
    right: 8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    cursor: pointer;
}

@mixin dropdown-menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0 5px 0;
}