// COLORS
$primary-color: #091F43;
$primary-color-light: #2E405E;
$primary-color-lighter: #6D89B7;
$secondary-color: #D1515A;
$secondary-color-light: #FFD5D5;
$tertiary-color: #F2F2F2;
$alt-color: #048b9a;
$neutral: white;

$icon-img: #008E40;

$linear-gradient: linear-gradient(to bottom right, $alt-color, $primary-color-light);