/* Police générique de la documentation de l'API InBetween */
@font-face {
	font-family: 'Triomphe';
	src: url(../font/triomphe-font/triomphe-regular-autoinstr.ttf);
}

@font-face {
	font-family: 'Triomphe-light';
	src: url(../font/triomphe-font/triomphe-light-autoinstr.ttf);
}