.banner-home {
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 100;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include tablet-only {
        height: 130px;
    }
    @include desktop-only {
        height: 150px;
    }
}

.banner-loggedoff {
    height: 135px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 100;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include tablet-only {
        height: 200px;
    }
}