.deletion-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 17px;
    background-color: red;
    @include post-design;
    .cancel-deletion-button {
        padding: 0;
        align-self: flex-end;
    }
    .deletion-text {
        font-size: 14px;
        margin: 6px 0;
    }
}