.deletion-alert, .deletion-comment-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    @include post-design;
    .cancel-deletion-button, .cancel-deletion-comment-button {
        padding: 0;
        align-self: flex-end;
    }
    .deletion-text, .deletion-comment-text {
        font-size: 14px;
        margin: 6px 0;
    }
}

.error-deletion-text {
    font-size: 15px;
    margin: 6px 0;
    text-align: center;
}

.deletion-alert {
    top: 30px;
    right: 2px;
    @include tablet-only {
        right: 75px;
    }
    @include desktop-only {
        right: 100px;
    }
}

.deletion-comment-alert {
    bottom: -80px;
    z-index: 2;
}

#delete-profile-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    z-index: 200;
    position: absolute;
    right: 15px;
    @include tablet-only {
        right: 200px;
    }
    @include desktop-only {
        right: 380px;
    }
}

.cancel-profile-btn {
    align-self: flex-end;
    color: grey;
}

.deletion-profile-text {
    text-align: justify;
    margin-bottom: 15px;
}

.deletion-profile-confirmation {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}