#dropdown-menu {
    position: absolute;
    top: 50px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155px;
    border-radius: 6.5px;
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    overflow: hidden;
    transform-origin: 50% 0%;
    animation: slow-show 100ms cubic-bezier(.4,.1,.6,.9) forwards;
}

#show-home-link, #show-profile-link {
    font-size: 18px;
    @include dropdown-menu-options;
    .home-title, .profile-title {
        margin-right: 10px;
    }
}

#show-home-link {
    background-color: $tertiary-color;  
}

#show-profile-link {
    background-color: $neutral;
}

@keyframes slow-show {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}