.home-main {
    padding: 10px 0;
    background-color: $primary-color;
    .container-main {
        margin: 0 auto;
        border-radius: 8px;
        background-color: white;
        max-width: 395px;
        @include tablet-only {
            max-width: 708px;
        }
        @include desktop-only {
            max-width: 1080px;
        }
    }
}