#navigation-login-page {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    #buttons-row {
        width: 350px;
        margin-top: 8.5em;
        padding: 5px 0;
        border-radius: 20px 20px 0 0;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        background-color: $secondary-color;
        @include tablet-only {
            width: 658px;
        }
        @include desktop-only {
            width: 780px;
        }
        &--login-page {
            margin-top: 1000px;
        }
    }
    #button-splitter {
        align-items: center;
        width: 3px;
        height: 120%;
        background-color: white;
    }
}