.post {
    margin: 15px 0;
    @include post-design;
}

.post-line-one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    .author-first-name {
        padding-right: 3.5px;
    }
    .author-first-name, .author-last-name {
        font-weight: 600;
    }
    .post-date {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        font-size: 11px;
    }
    .delete-icon {
        width: 20px;
        height: 20px;
        color: $secondary-color;
    }
}

.post-content {
    margin: 10px 0;
}

.post-line-three {
    width: auto;
    img {
        width: 100%;
    }
}